@model ProductOrdering.Models.Category

@{
    ViewData["Title"] = "ลบหมวดสินค้า";
}

    <h1>ลบหมวดสินค้า</h1>

<h3>คุณจะลบหมวดสินค้านี้ใช่หรือไม่</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="ลบ" class="btn btn-danger" /> |
        <a asp-action="Index">กลับ</a>
    </form>
</div>
