@page
@model ProductOrdering.Areas.Identity.Pages.Account.ConfirmRequireModel
@{
    Layout = null;
}
<html>
<head>
    <title>การลงทะเบียน</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <center>
        <br>
        <div class="alert alert-success" role="alert">
            <h2>การลงทะเบียนเสร็จสิ้น โปรดรอคำยืนยันจากผู้ดูแลระบบ</h2>
        </div>
        <br>
        <a asp-page="./Login" class="btn btn-primary">เข้าสู่ระบบ</a>
    </center>
</body>
</html>



