@model ProductOrdering.Models.Ordering
@{
    ViewData["Title"] = "เพิ่มรายการสั่งซื้อ";
}

<h1>เพิ่มรายการสั่งซื้อ</h1>

<h4>รายการสั่งซื้อ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrdering">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="UserId" value="0" />
            <input type="hidden" asp-for="TotalPrice" value="0" />
            <input type="hidden" asp-for="TotalPrice" value="0" />*@
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <a class="btn btn-primary" id="ProductListModal" onclick="createModal()">เลือกสินค้า</a>
                @*<select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>*@
                @*<label class="control-label" name="ProductSelectedText"></label>*@

                <input type="hidden" asp-for="ProductId" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img id="ProductImageSource" class="img-thumbnail rounded float-right"
                             height="100" width="100"
                             asp-append-version="true" />
                    </div>
                    <div class="col-sm-6">
                        <label id="ProductName" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <select asp-for="Payment" asp-items="@Html.GetEnumSelectList<Payment>()" class="form-control"></select>
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="TotalPrice" class="control-label"></label>
            <input asp-for="TotalPrice" class="form-control" />
            <span asp-validation-for="TotalPrice" class="text-danger"></span>
        </div>*@
            <div class="form-group">
            <label asp-for="Receiver.Name" class="control-label"></label>
            <input asp-for="Receiver.Name" class="form-control" />
            <span asp-validation-for="Receiver.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.Lastname" class="control-label"></label>
            <input asp-for="Receiver.Lastname" class="form-control" />
            <span asp-validation-for="Receiver.Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.Tel" class="control-label"></label>
            <input asp-for="Receiver.Tel" class="form-control" />
            <span asp-validation-for="Receiver.Tel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.Address" class="control-label"></label>
            <input asp-for="Receiver.Address" class="form-control" />
            <span asp-validation-for="Receiver.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.Province_id" class="control-label"></label>
            <select asp-for="Receiver.Province_id" id="Province_id" onchange="FindAumphor()" class="form-control" asp-items="ViewBag.Province_id">
                <option value='0'>กรุณาเลือกจังหวัด</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.Aumphure_id" class="control-label"></label>
            <select asp-for="Receiver.Aumphure_id" id="Aumphure_id" onchange="FindDistrict()" asp-items="ViewBag.Aumphure_id" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Receiver.District_id" class="control-label"></label>
            <select asp-for="Receiver.District_id" id="District_id" class="form-control" asp-items="ViewBag.District_id"></select>
        </div>

            <div class="form-group">
                <input type="submit" value="สั่งซื้อ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
    var url = 'ModalPopUp';
    function createModal() {
        //console.log(url);
        $('#modelContent').load(url);

        $('#myModal').modal('show');
        $('#myModal').on('hidden.bs.modal', function (e) {


        });
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script type="text/javascript">
    function FindAumphor() {
        var procemessage = "<option value='0'> กำลังค้นหา...</option>";
        $("#Aumphure_id").html(procemessage).show();
        //var url = "/UserManager/FindAumphor";
        var _Province_id = $('#Province_id').val();
        $.ajax({
            url: 'FindAumphor',
            data: { Province_id: _Province_id },
            cache: false,
            type: "POST",
            success: function (data) {
                //console.log(data);
                var markup = "<option value='0'>เลือกอำเภอ</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#Aumphure_id").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function FindDistrict() {
        var procemessage = "<option value='0'> กำลังค้นหา...</option>";
        $("#District_id").html(procemessage).show();

        var _Aumphure_id = $('#Aumphure_id').val();
        $.ajax({
            url: 'FindDistrict',
            data: { Aumphure_id: _Aumphure_id },
            cache: false,
            type: "POST",
            success: function (data) {
                console.log(data);
                var markup = "<option value='0'>เลือกตำบล</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#District_id").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
