@model ProductOrdering.Models.Ordering
@{
    ViewData["Title"] = "เพิ่มรายการสั่งซื้อ";
}

<h1>เพิ่มรายการสั่งซื้อ</h1>

<h4>รายการสั่งซื้อ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrdering">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="0" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <a class="btn btn-primary" id="ProductListModal" onclick="createModal()">เลือกสินค้า</a>
                @*<select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>*@
                @*<label class="control-label" name="ProductSelectedText"></label>*@

                <input type="hidden" asp-for="ProductId" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img id="ProductImageSource" class="img-thumbnail rounded float-right"
                             height="100" width="100"
                             asp-append-version="true" />
                    </div>
                    <div class="col-sm-6">
                        <label id="ProductName" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Payment" class="control-label"></label>
                <select asp-for="Payment" asp-items="@Html.GetEnumSelectList<Payment>()" class="form-control"></select>
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="สั่งซื้อ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
    var url = 'ModalPopUp';
    function createModal() {
        //console.log(url);
        $('#modelContent').load(url);

        $('#myModal').modal('show');
        $('#myModal').on('hidden.bs.modal', function (e) {


        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
